.form {
	display: table;

	width: 100%;

	padding: 0.5em 0 2em;
}

	.form__fields {

	}

	.form__field {
		position: relative;

		margin: 0.8em 0;
	}

	.form__label {
		position: absolute;

		width: 95%;

		margin: 1px;
		padding: 0.8em 1.3em;

		opacity: 0.8;

		color: shade(#f67d42, 20);
	}

	.form__input {
		width: 100%;

		padding: 0.8em 1.3em;

		border: 0 none;
		background: rgba(255,255,255, 1);

		color: shade(#f67d42, 40);

		@include transition(all 250ms ease);

		&:hover, &:focus {
			outline: 0 none;

			background: rgba(255, 255, 255, 0.8);
		}

	}

	textarea.form__input {
		resize: vertical;
	}

	.form__actions {

	}

	.form__submit {
		padding: 0.3em 2em;

		font-family: Roboto;
		font-size: 1.5em;
		color: #fff;

		float: right;

		border: 1px solid transparent;
		background: shade(#f67d42, 10);

		@include transition(all 250ms ease);

		&:hover, &:focus {
			border: 1px solid shade(#f67d42, 40);
		}
	}