%theme-page--background {
	&.about, .about & {
		background: $c-orange;
	}

	&.blog, .blog & {
		background: $c-green;
	}

	&.skills, .skills & {
		background: $c-blue;
	}

	&.contact, .contact & {
		background: $c-red;
	}
}