.languages {
	position: absolute;
	top: 0.2em;
	right: 2em;

	list-style: none;

}

	.languages__item {
		margin: 0 ;
		padding: 0;

		a {
			color: #000;
			font-family: Lekton;
			font-size: 1.4em;
			text-transform: uppercase;
			text-decoration: none;

			&:hover, &:focus {
				outline: 0 none;

				text-decoration: underline;
			}
		}
	}