.main {
	height: 100%;

	font-size: 16px;

	padding-top: 0.5em;

	background-image: inline-image('background.svg');
	background-size: 100% auto;

	@media only screen and (min-width:1600px) { 
		font-size: 14px !important;
	}

	@include media-query(desk){
		font-size: 12px;
	}

	@include media-query(portable){
		font-size: 10.5px;
	}

	@include media-query(palm){
		font-size: 9px;
	}
	
	a {
		text-decoration: none;
	}
}

	%main__pages {
		position: relative;

		display: table;

		width: 100%;
	}

	.main__header {
		@extend %main__pages;

		display: block;

		height: 100%;

		padding: 7.5% 0 12%;

		overflow: hidden;

		background: $a-main;
	}

	.main__title {
		font-family: Montserrat;
		font-weight: 700;
		font-size: 15em;
		color: $a-second;

		text-align: center;

		small {
			display: block;

			margin: 4.5% 0 3% 0;

			font-size: 0.24em;
			color: $a-contrast;

			@include media-query(palm){
				font-size: 0.2em;
			}
		}
	}

	.main__content {
		@extend %main__pages;

		padding: 8em 3% 8em;

		color: $a-contrast;

		&.main__content--about {
			background: $a-second;

			h1, h2 {
				color: $a-contrast;
			}
		}

		&.main__content--contact {
			background: $b-main;

			h1, h2 {
				text-align: center;
				color: $b-contrast;
			}
		}

		%main__title {
			font-family: Montserrat;
			line-height: 1.3em;

			margin-bottom: 1em;
		}

		h1 {
			@extend %main__title;

			font-size: 2.9em;
		}

		h2 {
			@extend %main__title;

			font-size: 2.7em;
		}

		p {
			font-family: Roboto;
			font-size: 1.8em;
			font-weight: 300;
			color: $a-second-contrast;
		}
	}

	.main__footer {
		position: relative;

		width: 100%;

		padding: 1% 3%;

		background: $a-main;

		font-family: Roboto;
		font-size: 1.4em;
		color: #fff;

		a {
			color: #fff;
			text-decoration: none;
		}
	}