.skills-list {
	position: relative;

	display: block;

	width: 100%;
	height: 44.5em;

	margin-bottom: 2em;

	@include media-query(desk){
		height: 40em;
	}
}

	.skills-list__item {
		position: absolute;
		z-index: 4;

		display: inline-block;

		width: 100%;
		height: 10em;

		margin: 0 0 1em 0;
		padding: 2em 0 2em 7%;

		overflow: hidden;

		background: tint($a-second, 20);

		@include transition(height 500ms ease, top 500ms ease, background 250ms ease, z-index 1ms 500ms linear);

		@media only screen and (min-width: 1440px) and (max-width: 1560px){
			padding-left: 5%;
		}

		@include media-query(desk){
			padding: 1.7em 0 1.7em 5%;

			height: 8.5em;

			&:nth-child(2){
				top: 10em;
			}

			&:nth-child(3){
				top: 20em;
			}

			&:nth-child(4){
				top: 30em;
			}
		}

		&:nth-child(2){
			top: 11.5em;
		}

		&:nth-child(3){
			top: 23em;
		}

		&:nth-child(4){
			top: 34.5em;
		}

		&:hover, &.skills-list__item--open {
			top: 0;
			z-index: 5;

			height: 100%;

			background: tint($a-second, 10);

			@include transition(height 750ms ease, top 750ms ease, background 250ms ease, z-index 1ms linear);
		}
	}

		.skills-list__item__icon {
			svg {
				width: 12em;
				height: 6em;

				@include media-query(desk){
					width: 9em;
					height: 4.5em;
				}
			}

			.skills-list__item__icon_c {
				fill: tint($a-second, 20);

				.skills-list__item:hover & {
					fill: tint($a-second, 10);

					@include transition(fill 250ms ease);
				}
			}
		}

		.skills-list__item__title {
			display: inline-table;

			height: 4em;

			font-family: Roboto;
			font-weight: 400;
			font-size: 2.2em;
			line-height: 4em;
			letter-spacing: 0.5px;

			margin: -0.6em 0 0 1.5em;

			@media only screen and (min-width: 1440px) and (max-width: 1560px){
				margin-left: 1em;
			}
			
			@media only screen and (min-width: $desk-wide-start) and (max-width: 1440px){
				margin: -0.6em 0 0 1em;
			}

			@include media-query(desk){
				margin: -0.6em 0 0 0.5em;
			}
		}